/*
font-family: 'Eater', cursive;
font-family: 'Ravi Prakash', cursive;
font-family: 'Combo', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Limelight', cursive;
*/

body {
  font-family: 'Limelight', cursive;
  letter-spacing: 1.5px;
  background-color: #EEEEEE;
}
.text-center {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.panel-primary>.panel-heading {
  background-color: #F0A86A;
  border-color: black;
}
.panel-primary {
  border-color: black;
}
.btn-primary {
  background-color: #7296B6;
  border-color: #7296B6;
}
